extends layout.pug

block content
    h1 Search Results for "#{query}"
    if playlists.length > 0
        table
            each playlist in playlists
                tr
                    td= playlist.name
                    td= playlist.description ? playlist.description : 'No description available'
    else
        p No matching playlists found.
